@font-face {
  font-family: Myriad;
  src: url('../../fonts/Myriad-Pro.ttf');
}

/*nav .brand-logo{
margin-left: 50px;
font-family: Myriad;
}*/

/*header*/

.fonNav{
    background: #00c0f3;
    padding-bottom: 5px;
}
.brand-logo img{
  margin-left: 20px!important;
  margin-top: 13px!important;
}
.side-nav{
  z-index: 1000!important;
}
        @keyframes btn-formulario {
            from {background-color: white;}
            to {background-color: #43ADE7;}
        }



/*header*/

#contenedor{
  margin-top: 5px!important;
}

h1{
  font-family: Myriad;
  color: #000;
}

h3{
  font-family: Myriad;
  color: #fff;
}

#box h3{
    margin-top: 175px
}

#box02 h5{
    margin-top: 160px
}

#box06 h3{
    margin-top: 175px
}

#box03 h4{
    margin-top: 60px
}

#box07 h4{
    margin-top: 60px
}

#box04 h5{
    margin-top: 50px
}

#box05 h3{
    margin-top: 50px
}


h4{
  font-family: Myriad;
  color: #fff;
}

h5{
  font-family: Myriad;
  color: #fff;
}

#box{
  border-radius: 3px;
  height: 413px;
  border: 3px solid #fff;
  background-color: #3f77b5;
}


#box02{
  border-radius: 3px;
  height: 413px;
  border: 3px solid #fff;
  background-color: #92cd8b;
}

#box05{
  border-radius: 3px;
  height: 173px;
  border: 3px solid #fff;
  background-color: #00c0f3;
}

#box06{
  border-radius: 3px;
  height: 413px;
  border: 3px solid #fff;
  background-color: #92cd8b;
}

#box03{
  border-radius: 3px;
  height: 173px;
  border: 3px solid #fff;
  background-color: #3f77b5;
}

#box04{
  border-radius: 3px;
  height: 173px;
  border: 3px solid #fff;
  background-color: #fbb357;
}

#box07{
  border-radius: 3px;
  height: 173px;
  border: 3px solid #fff;
  background-color: #3f77b5;
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -7px rgba(0, 0, 0, 0.5);
  border-bottom: none!important;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.parrafo{
  /*padding:0 150px 0 150px!important;*/
  margin-top: -25px;
  font-family: Myriad;
  font-size: 17px;
  text-align : justify;

}
.image{
    border-radius: 2px;
}

.vertical{
  border-style: none;
  margin-top: 80px;
  width:2px!important;
  background-color: #d4d4d4;
  height:60px!important;
}

#seccion{
  margin-top: 125px;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
