body{
	background: #ECF0F5;
}
.inline{
	display: inline;
}
.fonNav{
    background: #00c0f3;
    padding-bottom: 6px;
}
.menu-bars{
    font-size: 23px;
    color: #fff;
}
.content {
    text-align: center;
}        
.nav-link {
    color: #fff;
    padding: 0 25px;
    font-size: 11px;
    letter-spacing: .2rem;
    margin-top: 8px;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar-brand{
    background-color: #00c0f3;
}
.navbar-brand img{
	margin-left: 20px;
}
.nav-link i{
	color: #fff;
    padding: 0 15px;
    font-size: 18px;
    margin-right: 15px;
}
.home-icon:hover{
	background: #00c0f3!important;
}
.home-icon i:hover{
	color: #005da4!important;
}
.actualizarForm:hover{
	background: #00c0f3!important;
}
.actualizarForm i:hover{
	color: #005da4!important;
}
.panel-heading{
    background: #005da4!important;
}
.panel{
    border: solid #005da4 1px;
}
.form_wizard .stepContainer{
    overflow: visible;
}
.wizard_steps{
    padding-left: 0px;
}
.navbar-header{
    background-color: #00C0F3;
}